@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans",Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}
a {
    text-decoration: none;
}
.main-header{
    background-color:#f7e296;
}
.navigation{
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    background-color: #f7e296;
}
.user-block,
.user-navigation,
.basic-navigation,
.catalog-menu{
    list-style: none;
}
.user-navigation a,
.user-block a,
.basic-navigation a,
.catalog-menu a,
.logo-header a,
.button a,
.assortment-menu a,
.button-active a,
.services-slider-controls a{
    color: #000000;
}
.user-block a:active,
.user-navigation a:active,
.basic-navigation a:active,
.catalog-menu a:active,
.logo-header a:active,
.assortment-menu a:active,
.button a:active,
.assortment-menu a:active{
    color:rgba(0,0,0,.3);
}
.user-navigation a:hover,
.user-block a:hover,
.basic-navigation a:hover,
.catalog-menu a:hover,
.logo-header a:hover,
.assortment-menu a:hover{
    color:rgba(0,0,0,.6);
}
.basic-navigation{
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    text-transform: uppercase;
}
.search{
    color:rgba(0,0,0,.3)
}
.logo-header{
    color: #000000;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
}
.product-title{
    color: black;
    font-size: 47px;
    line-height: 56px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
}
.slade-product-description{
    color: #000000;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.button{
    color:#000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    text-transform: uppercase;
}
.button-active{
    color: #f7e184;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    text-transform: uppercase;
    background-color:#000000;
}
.characteristic{
    color: #000000;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    font-family: "Gilroy", sans-serif;
}
.clarification{
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.assortment-menu{
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    list-style: none;
}
.services-slider-controls .active{
    color:#F7E184;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    list-style: none;
    text-transform: uppercase;
    background: #000000;
}
.services-slider{
    background-color:#e5e5e5;
}
.services-slider-title{
    color: #000000;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    list-style: none;
}
.services-slider-description{
    color: #000000;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.about-us h2{
    color: #000000;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
}
.about-us p{
    color: black;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.about-us ul{
    color: #000000;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    list-style: none;
}
.contacts h2{
    color: #000000;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
}
.contacts p{
    color: #000000;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.visually-hidden{
    visibility:hidden;
}
.logo-footer{
    color:#FFC600;
    font-size:47px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
}
.partner-logos ul{
    list-style: none;
}
.site-footer{
    background-color:#464646;
}
.foot-adr{
    color:#FFFFFF;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.footer-navigation a,
.footer-user-block a,
.footer-user-navigation a{
    color:#FFFFFF;
}
.footer-user-navigation{
    color:#FFFFFF;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    list-style: none;
}
.footer-user-block{
    color:#FFFFFF;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    list-style: none;
}
.footer-navigation{
    color:#FFFFFF;
    font-size:18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    list-style: none;;
}
footer>span{
    color:#FFFFFF;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.label{
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
}
.input{
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    background-color:#F2F2F2;
}

.letter{
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    background-color: #F2F2F2;
}
button{
    background-color: transparent;
    box-shadow:none;
    border: none;
}
button:active {}

.write-to-us ul{
    list-style: none;
}
.page-title{
    color: #000000;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
}
.breadcrumbs a,
.breadcrumbs-current a{
    color:#F2F2F2;
}
.user-navigation li:last-child{
    color:rgba(0,0,0,.3);
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.user-navigation{
    list-style: none;
}
.parameter{
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    background-color:#EBEBEB;
}
.feature{
    color:#000000;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    background-color:#EBEBEB;
}
.sorting-panel span{
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    background-color:#EBEBEB;
}
.sorting-panel li:nth-child(1){
    color:#000000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    background-color:#EBEBEB;
}
.sorting-panel li{
    color:rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    background-color:#EBEBEB;
}
.comparison{
    color:rgba(0,0,0,.5);
    font-size: 13px;
    line-height: 36px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.list-item{
    color: black;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
}
.catalog-item-price{
    color:#464646;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    font-family: "Gilroy", sans-serif;
}
.b-naviq{
    color:#000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    background-color:#EBEBEB;
}
.pagination-item li{
     color: #000000;
     font-size: 16px;
     line-height: 24px;
     font-weight: 700;
     font-family: "Gilroy", sans-serif;
    background-color:#EBEBEB;
 }
.pagination-item li:nth-child(1){
    color:rgba(0,0,0,.3);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Gilroy", sans-serif;
    background-color:#EBEBEB;
}

.floatleft { float: left; }
.floatright { float: right; }
.displayflex { display: flex; }
.container { width: 1160px; margin: 0 auto; }
.main-header { padding-left: 60px; padding-right: 60px; }
.main-header .col-50 { width: 500px; }
.main-header .navigation { width: 100%; }
.main-header .navigation::after { display: block; content: " "; clear: both; }
.main-header .navigation > .col-50 { justify-content: space-between; }
.main-header .user-block li { float: left; }
.main-header .basic-navigation { padding: 0; clear: both; }
.main-header .basic-navigation * { box-sizing: border-box; }
.main-header .basic-navigation > li { float: left; padding-right: 39px; }
.main-header .basic-navigation > li ul { display: none; }
.main-header .basic-navigation > li:first-child { width: 540px; }
.main-header .basic-navigation > li:last-child { float: right; padding-right: 0; }

.product-slader { padding-left: 60px; padding-right: 60px;  }
.product-slader .slade { display: none; }
.product-slader .slade.active { display: flex; justify-content:space-between; }
.product-slader .slade>div { width: 500px; }
.product-slader .slade>img { max-width:500px; }
.product-slader .slade table { width: 100%;}
.assortment-menu { display: flex; justify-content: space-between; padding: 0;}
.assortment-menu li{ width: 160px;   }
.assortment-menu li>div { background: #f7e296; height: 160px; margin-bottom: 34px;background-repeat: no-repeat; background-position: center center;    background-size: 50%; }
.services-slider .container { display: flex; justify-content:space-between;}
.services-slider-controls { width: 280px;}
.services-slider-controls a{ display: block;}
.services-slider-slides { width: 760px;}
.services-slider-slides .services-slider-item{ display: none;}
.services-slider-slides .services-slider-item.active { display: block;}
.partner-logos ul { padding: 0; display: flex; justify-content:space-around;}
.partner-logos ul li{ width: 260px; }
.company .container{ display: flex; justify-content:space-between;}
.company .container>div{ width: 560px;}

.site-footer .container{ display: flex; justify-content:space-between;}
.site-footer .container .col1{ width: 360px;}
.site-footer .container .col2{ width: 440px;}
.site-footer .container .col3{ width: 360px; display: flex; flex-wrap: wrap; justify-content:flex-end;   }
.site-footer .footer-navigation { display: flex; justify-content:space-around;  }
.site-footer .footer-navigation li{  }
.site-footer .container .col3 ul { display: flex;}
.site-footer .container .col3 ul li{}
.site-footer .container .col3 span { width: 100%; color: #FFFFFF; text-align: right;}

.catalog-main * {box-sizing: border-box;}
.catalog-main>.container { padding-left: 60px; padding-right: 60px; box-sizing: border-box;}
.catalog-main .breadcrumbs{ list-style: none; display: flex; justify-content:flex-start;  }
.catalog-wrapper {  background: #eeeeee; position: relative; }
.catalog-wrapper .overlay{  background: #ffffff; position: absolute; top: 70px; left: 50%; right: 0; bottom: 0; z-index:1; }
.catalog-wrapper .container{  display: flex; justify-content: space-between ; position: relative; z-index: 2; }
.catalog-wrapper .col1 { width: 328px; }
.catalog-wrapper .col2 { width: 839px;  }
.catalog-wrapper .sort-bar { padding-left: 60px; padding-right: 70px;  }
.catalog-wrapper .sorting-panel, .catalog-wrapper .catalog { width: 833px; margin:0 auto 0  0;  }
.catalog-wrapper .sorting-panel { display: flex; height: 70px;}
.catalog-wrapper .sorting-panel a{  color: rgba(0,0,0,.3); }
.catalog-wrapper .sorting-panel a.active{  color: #000000; }
.catalog-wrapper .sorting-panel span{ margin-left: 75px;  }
.catalog-wrapper .sorting-panel ul{ display: flex;  justify-content: flex-start;  list-style: none; padding: 0; margin: 0; }
.catalog-wrapper .catalog { background: #FFFFFF; padding:70px 0; }
.catalog-wrapper .catalog h2{ margin: 0; padding: 0; display: none; }
.catalog-wrapper .catalog-list { width: 760px; margin: 0 0 0 73px;  padding: 0; list-style: none; display: flex; justify-content: space-between; flex-wrap: wrap;  }
.catalog-wrapper .catalog-list li { width: 360px; display: flex; flex-wrap: wrap; margin-bottom: 49px;}
.catalog-wrapper .catalog-list li .card-product  { position: relative; margin-bottom: 30px; width: 100%; }
.catalog-wrapper .catalog-list li .card-product>div { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; flex-direction: column; justify-content: center; }
.catalog-wrapper .catalog-list li .card-product>div button{  }
.catalog-wrapper .catalog-list li:hover .card-product>div { display: flex;}
.catalog-wrapper .catalog-list li>.list-item {   padding: 0; margin: 0; width:260px;}
.catalog-wrapper .catalog-list li>.list-item  a{ color: #000000;}
.catalog-wrapper .catalog-list li>.catalog-item-price { width: 100px; text-align: right; }
.catalog-wrapper .list-of-pages { padding:23px 30px; background-color: #ebebeb;  width: 760px; margin: 0 0 0 73px; display: flex; justify-content: space-between;}
.catalog-wrapper .list-of-pages ul { margin: 0; padding: 0; list-style: none; display: flex; justify-content:center; }
.catalog-wrapper .list-of-pages ul li { width: 18px;}
.catalog-wrapper .list-of-pages ul li a{
    color: rgba(0,0,0,.3);
    font-family: "Gilroy",Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.catalog-wrapper .list-of-pages ul li a.active,.catalog-wrapper .list-of-pages ul li a:hover { color: #000000;}